%h2 Listing of Categories

%table
  %thead
    %tr
      %th ID
      %th Title

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.id
        %td= category.title

        %td= link_to 'Show', category
        %td= link_to 'Edit', edit_category_path(category)
        %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New category', new_category_path

%p CATEGORY COUNT
%p= @categories.count
